<div class="container">
    <form method="post" action=""> 
        <div class="mb-3 mt-20"> 
            <input type="text" class="form-control" name="search">
        </div> 
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>